body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}

form {
    width: 20%;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 59px;
}

button{
    padding: 10px;
}

button:hover{
    cursor: pointer;
    color: aliceblue;
    font-weight: 700;
    background-color: black;
}

div{
    display: flex;
    justify-content: space-around;
}

#titulo{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    
}

#resultado{
    display: none;
}

input{
    padding: 7px;
}